@charset "UTF-8";
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: auto;
    padding: 32px;
    background-color: #333;
    border-radius: 20px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
}

.form_input,
.form_button {
    font-family: sans-serif;
    letter-spacing: 1px;
    color: green;
    font-size: 16px;
}

.form_title {
    text-align: center;
    white-space: nowrap;
    color: green;
    margin-bottom: 0 0 32px 0;
    font-weight: normal;
}

.form_group {
  margin-bottom: 32px;   
}

.form_label {
    color: #9e9e9e;
}

.form_input {
    width: 100%;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
}

.form_button {
    background-color: #4CAF50;
    border: none;
    border-radius: 20%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}